/* app/globals.css */
@import "tailwindcss";

/* Variables personalizadas */
:root {
  --color-background: #f9fafc;
  --color-foreground: #0a1b2e;
  --color-card: #ffffff;
  --color-accent: #0a3d62;
  --color-positive: #6fcf97;
  --color-gray: #6b7280;
}

body {
  background: var(--color-background);
  color: var(--color-foreground);
  font-family: var(--font-inter), system-ui, sans-serif;
}